* *::before, *::after  {
    font-family: sans-serif;
    font-weight: normal; 
    box-sizing: border-box;
   
  }
  .title {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight:bold;
    font-size: 70px

  }


  html {
    height: 100%;
  }
  body {
    padding: 0;
    margin: 0;
    background-image: url(casino.jpeg) ;
    min-height: 100%;
    
  }
  
  .roulette-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height:100vh;
    background: linear-gradient(white);
    color: white;
    
  }

  
  .flex-container{
    padding: none;
    margin: 8%;
  }
  

  
  .win-status {
    padding-left: 10px;
  }
  .h4 {
    font: bold;
    display: inline;
  }
  .title {
    text-align: center;
  }
  .bank-info-element{
    margin: 5px;
  }
  .bank-info {
    display:inline-flex;
    margin: none;
    align-items: center;
    justify-content: center;
  }
  .bet-buttons{
    height: 15px;
    width: 40px;
    display: contents;
    margin: 5px;
    border: thick white;
  }
  
  .btn {
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 1px;
    font-family: 'Helvetica Neue', arial;
    font-weight:bold;
    color: white;
    letter-spacing: 1px;
    display: block;
      margin: 5px;
  }
  
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
  }
  
  .button-green {
    background-color: green;
  }
  .button-black {
    background-color: black;
    color: white;
  }
  .button-red {
    background-color: red;
  }

.betButton {
    background-color:white;
    font-family: 'Helvetica Neue';
    font-weight:bold;
    border: 2px solid white;
    letter-spacing: 1px;
    display: block;
      margin: 5px;
}

  .columns {
    display: flex;
  }
  
  .flex-item {
    flex: 1 1;
    display: flex;
    border: 1px solid gray;
    justify-content: space-around;
    font-size: 80px;
    height: 68px;
    margin: 0;
    transition: all 1s;
  }

  .flex-item:hover {
    background-color: magenta;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  
  }
  .table {
    background: url(rouboar.jpeg) center center no-repeat ;
    top: 150px;
    left: 735px;
    width:800px;
    height:197px;
    background-size:cover;
    margin: 100px 100px 90px 20px;
    
    
}
